* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.objects__container {
  width: 30%;
  padding-top: 20px;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: brown;
  padding: 20px;
}

.create {
  padding-top: 20px;
}

.rmv {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px;
}

#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
